<form method=post action="/questions/<%=@question.id%>/answers">

  <div class="container">
    <div class="well">
      <label>
        <span id="title"><a href="/questions/<%=@question.id%>"><%= @question.question_title %></a></span><hr>
        <span id="name"><%= @question.user.full_name %>:</span>
        <span id = "description"><%= @question.question_description %></span>
        <hr>
      </label>
      <input type="text" placeholder="Enter Answer" name="answer[answer_description]" required>
      <div class="clearfix">
        <button type="button"  class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Post!</button>
      </div>
    </div>
  </div>
</form> 
          