
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="quoralogo.jpeg" id="img1"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><p>Welcome to Quora</p></li>
    </ul>
  </div>
</nav>

<div id="header">
    <a href="/questions">
    See Top stories
    </a>
</div>
	

	<% if logged_in? %>
		<h1> Hey <%= current_user.full_name %>! My email is <%= current_user.email %> <h1>
		<form method=post action = /logout>
			<input type=submit value= "Logout">
		</form>
		<form method=get action ="/users/<%=current_user.id%>">
			<input type=submit value= "Go to your user page">
		</form>


	<% else %>
    <div class="container-fluid text-center"> 
    <div class="row content">
        <div class="col-sm-2 sidenav">
		
		<h2>Login</h2>
		<form method=post action=/login>
    		<input type=text placeholder="Email" name="user[email]"><br></br>
    		<% if @user == "incorrect"%>
    			<%= "Incorrect email" %>
    			<br></br>
    		<% end %>
    		<input type=password placeholder="Password" name="user[password]"><br></br>
    		<% if @bool2 == false%>
    			<%= "Incorrect password" %>
    			<br></br>
    		<% end %>
    		<input type=submit value="Login">
		</form>
        </div>
        <div class="col-sm-8 text-left"></div>
        <div class="col-sm-2 sidenav">
		<div id ="signup">
		<h2 id = "signup_header">Sign up for an account!</h2>
		<form method="post" action="/users">
			<input type=text placeholder="Full name" name="user[full_name]">
    		<input type=text placeholder="Email" name="user[email]">
    		<% if @bool == false %>
    			<%= @errors %>
    			<br></br>
    		<% end %>
    		<input type=password placeholder="Password" name="user[password]"><
    		<input type=submit value="Sign up">
		</form>
        </div>
        </div>
        </div>
        </div>
        
	<% end %>
